@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

:root {
    --fonte-primaria: "Press Start 2P", system-ui;
    --fonte-secundaria: "IBM Plex Mono", monospace;
}

header {
    background-color: #5D04D9;
    color: #FFF;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 50px 30px;
    padding: 60px 40px;
}

.produtos {
    background-color: red;
    width: 758px;
}

.produtos__cards {
    display: flex;
    flex-direction: rox;
}

.formulario {
    background-color: green;
    width: 472px;
}